.add-product {
  @include flex-column;

  &__title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 26px;
    text-transform: uppercase;
  }

  &__form {
    @include flex-center;
  }

  &__input {
    margin-right: 16px;
  }
}
